@import url('https://fonts.googleapis.com/css?family=Fahkwang:300,400,700');

// Base overrides //
.container {
  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    margin-top: 10px;
  }
}

h1 { font-size: $font-size-h1; }
h2 { font-size: $font-size-h2; }
h3 { font-size: $font-size-h3; }
h4 { font-size: $font-size-h4; }
h5 { font-size: $font-size-h5; }
h6 { font-size: $font-size-h6; }

h1, h2, h3,
h4, h5, h6 {
  font-weight: 700;
  margin-bottom: 15px;
}

strong {
  font-weight: 700;
}

h1 {
  background-color: $border-color;
  color: #dfd2c8;
  text-shadow: -1px -1px rgba(0,0,0,.3);
  padding: 10px;
}

p {
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}