.program {
  .flex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    .item {
      align-self: flex-start;
      flex-grow: 1;
      width: 100%;

      &.image {
        order: 0;

        img {
          border: 5px solid $border-color;
        }
      }

      &.content {
        margin-top: 15px;
        order: 1;

        ul {
          display: flex;
          flex-direction: row;

          li {
            flex-grow: 1;
            text-align: center;
            width: 50%;

            a {
              display: block;
              padding: 15px;
            }
          }
        }
      }
    }

    .sub-nav {
      li {
        &.active {
          background: rgba(255,255,255,.8);
        }
      }
    }
  }

  table {
    display: none;
    width: 100%;
    text-align: left;

    &.active {
      display: block;
    }

    th {
      border-bottom: 4px solid $border-color;
      border-right: 2px solid $border-color;
      padding: 10px;

      &:first-child {
        display: none;
      }

      &:last-child {
        border-right: none;
      }

      h4 {
        margin: 0;
      }
    }

    td {
      border-bottom: 2px solid $border-color;
      border-right: 2px solid $border-color;
      padding: 10px;

      &:first-child {
        display: none;
      }

      &:last-child {
        border-right: none;
      }

      &.exercises {
        padding: 0;
      }

      a {
        display: block;
        padding: 15px;
      }
    }
  }

  img {
    max-width: 98%;
  }
}

@media (min-width: 768px) {
  .program {
    .flex {
      .item {
        align-self: flex-start;
        flex-grow: 1;
        width: 100%;

        &.image {
          order: 0;

          img {
            margin-left: auto;
            margin-right: auto;
          }
        }

        &.content {
          margin-top: 15px;
          order: 1;
        }
      }
    }

    table {
      th {
        &:first-child {
          display: table-cell;
        }
      }

      td {
        &:first-child {
          display: table-cell;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .program {
    .flex {
      flex-direction: row;

      .item {
        width: 50%;

        &.image {
          order: 1;
        }

        &.content {
          order: 0;
        }
      }
    }
  }
}